/*--------------------------
--------   General ---------
--------------------------*/


/*------   Font -------*/

		@font-face {
		    font-family: 'kanitlight';
		    src: url('../fonts/kanit/kanit-light-webfont.eot');
		    src: url('../fonts/kanit/kanit-light-webfont.eot?#iefix') format('embedded-opentype'),
		         url('../fonts/kanit/kanit-light-webfont.woff2') format('woff2'),
		         url('../fonts/kanit/kanit-light-webfont.woff') format('woff'),
		         url('../fonts/kanit/kanit-light-webfont.ttf') format('truetype');
		    font-weight: normal;
		    font-style: normal;
		}


		@font-face {
		    font-family: 'kanitmedium';
		    src: url('../fonts/kanit/kanit-medium-webfont.eot');
		    src: url('../fonts/kanit/kanit-medium-webfont.eot?#iefix') format('embedded-opentype'),
		         url('../fonts/kanit/kanit-medium-webfont.woff2') format('woff2'),
		         url('../fonts/kanit/kanit-medium-webfont.woff') format('woff'),
		         url('../fonts/kanit/kanit-medium-webfont.ttf') format('truetype');
		    font-weight: normal;
		    font-style: normal;
		}


/*-------------------------*/
/*------  Structure -------*/
/*-------------------------*/

			body{
				font-family: 'kanitlight';
				font-size: 20px;
			}

			.form-control{
					border:2px solid #CCCCCC;
					border-radius: 4px 4px 4px 4px !important;
			}

			.icon-darkblue{
				color:#2E345C;
				font-size: 20px;
			}

			.text-grey{
				color:#999999;
			}
			.text-blue {
				color: #00A1E9;
			}

			.text-darkblue{
				color:#020091;
			}

			.text-black{
				color:black;
			}
			.text-green {
				color: #52da0e;
			}
			.text-white{
				color:white;
			}

			.text-red {
				color: #fc361d;
			}

			.search-box {
			    position: absolute;
			    top: 0;
			    right: 15px;
			    line-height: 34px;
			    width: 40px;
			    height: 40px;
			    color: #666;
			    background: transparent;
			    border: transparent;
			}

			.width-100 {
				width: 100%;
			}

			.ptt-table {
   				border: 1px solid #cccccc;
			}

			th {
				background-color: #2899d2;
				color: #fff;
				height: 45px;
			}

			td {
				border-top: 1px solid #cccccc!important;
				height: 45px;
				font-size: 18px;
			}

		 	.grey-box{
				background-color: #f6fbff;
				padding:10px;
			}

			.blue-box{
				background-color:#dcf2fd;
				padding:10px;
			}


			.navigation:hover{
				text-decoration: none;
			}

			.btn-main{
				color:white;
				background-color:#00A1E9;
			}

			.btn-ghost{
				color:#00A1E9;
				background-color:white;
				border-color:#00A1E9;
			}

			.btn-main:hover{
				color:white;
				background-color:#2E345C;
				border-color:#2E345C;
			}

			.btn-ghost:hover{
				color:white;
				background-color:#00A1E9;
				border-color:#00A1E9;
			}

			.plus-btn{
				color:white;
				background-color:#020091;;
				padding:0;
				height:40px;
				width:40px;
				border-radius: 10px;
				border: none;
				cursor: pointer;
			}

			.modal-body {
			    height: 500px;
			    max-height: 500px !important;
			    overflow-y: scroll;
			    margin: 0px 60px 0px 60px;
			    border: 1px solid #ddd;
			}
			.modal-header {
			    display: -ms-flexbox;
			    display: flex;
			    -ms-flex-align: start;
			    align-items: flex-start;
			    -ms-flex-pack: justify;
			    justify-content: space-between;
			    padding: 1rem;
			    border: none;
			}
			.modal-footer {
			    display: -ms-flexbox;
			    display: flex;
			    -ms-flex-align: center;
			    align-items: center;
			    -ms-flex-pack: end;
			    justify-content: flex-end;
			    padding: 1rem;
			    border: none;
			}
			.quantity-plus{
				font-size: 12px;
				color:white;
				background-color:#00A1E9;
				height:27px;
				width:27px;
				border-radius: 25px;
				border: none;
				cursor: pointer;
			}

			.quantity-minus{
				font-size: 12px;
				color:white;
				background-color:#00A1E9;
				height:27px;
				width:27px;
				border-radius: 25px;
				border: none;
				cursor: pointer;
			}

			.bnt-pagination-previous {
				border: 1px solid transparent!important;
	    		margin-right: 15px;
	    		padding-top: 11px;
			}
			.bnt-pagination-previous:hover {
	    		background-color: #fff!important;
			}
			.bnt-pagination-next:hover {
	    		background-color: #fff!important;
			}

			.bnt-pagination-next {
				border: 1px solid transparent!important;
	    		margin-left: 15px;
	    		padding-top: 11px;
			}

			.page-link {
				border: 1px solid #cccccc;
			    border-radius: 5px;
			    width: 40px!important;
    			text-align: center;
			}

			.page-link:hover {
			    background-color: #dcf3fe;
			}

			.hover-dis:hover{
				cursor: pointer;
			}


			/*-------------- NAVBAR  ---------------*/

					.logo{
						width:320px;
						 height:auto;
					}

					.navbar{
						border-bottom:3px solid #CCCCCC;
					}

					.secondnav{
						width:100%;
					}

					.btn-search{
						border-radius: 25px;
						background-color:#00A1E9;
						color:white;
					}

					.logged-in-button{
						background-color:transparent;
					}

					.logged-in-button:focus{
						box-shadow: none;
					}

					.dropdown-toggle::after{
							border:none;
					}

					.profile-icon{
						width:30px;
						height:30px;
						border-radius: 25px;
					}

					.top-nav{
						height:50px !important;
					}

					.nav-badge{
						position:relative;
					}

					.badge{
						font-size: 12px;
						color:white;
						border-radius: 25px;
						padding:5px 10px 5px 10px;
						background-color:red;
						position:absolute;
						top:-5px;
						right:-15px;
					}

					.badge-2-digit{
						font-size: 10px;
						color:white;
						border-radius: 25px;
						padding:5px 8px 5px 8px;
						background-color:red;
						position:absolute;
						top:-5px;
						right:-15px;
					}

					.nav-badge:hover{
						text-decoration: none !important;
					}

					.nav-icon:hover{
						color:#00A1E9;
					}

					.nav-link:hover{
						color:#2E345C !important;
					}

					.dropdown-item:focus{
						background-color:#CCCCCC;
					}

					.dropdown-item:active{
						background-color:#CCCCCC;
					}


			/*------------ END NAVBAR  -------------*/





			/*-------------- FOOTER  ---------------*/

				.footer{
					width:100%;
				}

				.top-footer{
					background-color:#2799D2;
				}

				.second-footer{
					height:160px;
					background-color:#2E345C;
				}

				.footer-text-frame{
					height:90px;
					width:320px;
					overflow:hidden;
				}

			/*------------ END FOOTER  -------------*/




/*-------------------------*/
/*------  END Structure -------*/
/*-------------------------*/


/*-------------------------*/
/*------  DASHBOARD -------*/
/*-------------------------*/


	.banner{
		position:relative;
	}

	.banner-title{
		padding-left:40% ;
		padding-right:40%;
		position:absolute;
		width:100%;
		top:30%;
	}

	.banner-text-frame{
		text-align: center;
		height:40px;
		overflow: hidden;
	}

	.banner-title-text{
		font-family:'kanitmedium';
		font-size: 35px;
		font-weight: 700px;
		color:white;
	}

	.banner-title-hr{
		border-top:4px solid #E70112;
		width:50%;
	}

	.banner-title-2{
		padding-left:20% ;
		padding-right:20%;
		position:absolute;
		width:100%;
		top:50%;
	}

	.banner-title-text-2{
		font-size: 27px;
		font-weight: 700px;
		color:white;
	}
	.banner-text-frame-2{
		text-align: center;
		height:40px;
		overflow: hidden;
	}

	.banner-footer{
		color:white;
		background-color:#2E345C;
	}


	.banner-summary{
		background-color:#00aeef;
		width:100%;
	}

	.summary-col{
		width:20%;
	}

	.summary-border{
		border-left:2px solid #FFF;
	}

	.summary-frame{
		padding-top:2%;
		padding-bottom:2%;
	}

	.summary-number{
		margin-top:5px;
		margin-left:auto;
		margin-right: auto;
		width:60px;
		height:60px;
		border-radius: 30px;
		background-color: #5fc638;
		font-size: 35px;
		color:white;
		font-family: 'kanitmedium';
		font-weight: 900;
	}

	.green{
		background-color: #5fc638;
	}

	.red{
		background-color: #e34132;
	}

	.orange{
		background-color: #e59a39;
	}

	.grey{
		background-color: #c2d4db;
	}

	.blue{
		background-color: #0079c2;
	}

	.dashboard-container{
		margin-top: 20px;
		margin-bottom: 30px;
		padding-left: 100px;
		padding-right: 100px;
		width:100% !important;
	}

	.menu-frame{
		background-color:#efefef;
		padding:40px 10px 50px 10px;
	}

	.dashboard-icon{
		height:140px;
		width:140px;
		transition: all 1s;
	}

	.calendar{
		height:100%;
		margin-top:15px;
		background-color:whitesmoke;
	}

	.icon-hover:hover .dashboard-icon{
		transform: scale(1.1);
	}

	.icon-hover:hover{
		color:#00aff0 ;
		text-decoration: none;
	}

	.side-nav{
		text-align: center;
		padding:24px 8px 24px 16px;
	}

	.side-nav-menu{
		padding-top: 7px;
		padding-bottom: 7px;
		width:100%;
		border:2px solid  #CCC;
		border-bottom: none;
		position:relative;
	}

	.side-nav .active{
		color:#52adda;
	}

	.dropdown-menu .active-sub{
		color:#52adda;
	}

	.side-nav-dropdown{
		position:absolute;
		top:-90%;
		right:0;
	}

	.side-nav-dropdown .dropdown-menu{
		border:2px solid  #CCC;
		border-radius: 0px;
		max-width: 250px;
		max-height: 280px;
		overflow-y:auto;
		overflow-x:auto;
	}

	.side-nav-menu:hover{
		color:#52adda;
	}

	.side-nav-menu:last-child{
		padding-top: 5px;
		padding-bottom: 5px;
		width:100%;
		border:2px solid  #CCC;
	}

	.side-nav .all{
		background-color:#dcf2fd;
		text-decoration: none;
	}

	.side-nav .all:hover{
		background-color:#CCC;
		text-decoration: none;
		color:white;
	}

	.side-nav .all:hover .text-blue{
		text-decoration: none;
		color:white;
	}

	.side-nav-dropdown-menu{
		padding-top: 11px;
		padding-bottom: 11px;
	}

	.side-nav-dropdown-menu:hover{
		background-color:#dcf2fd;
	}

	.card-header{
		padding:0;
		margin:0;
		width:100%;
		position:relative;
		text-align: center;
	}


	.card-status-request{
		padding-top: 5px;
		padding-bottom: 5px;
		color:white;
		background-color:#ec3340;
	}

	.card-status-shelf{
		padding-top: 5px;
		padding-bottom: 5px;
		color:white;
		background-color:#33b4ed;
	}

	.card-img-top{
		background-color: transparent;
	}

	.card-overlay{
		transition: all 1s;
		opacity: 0;
		position: absolute;
		top:0;
		width:100%;
		height:100%;
		background-color: whitesmoke;
		display:table-cell;
		vertical-align:middle;
	}

	.card-header:hover .card-overlay{
		opacity:0.5;
	}

	.overlay-btn{
		margin-top:50%
	}

	.card-body{
		text-align: center;
	}

	.product-number{
		font-size: 22px;
	}

	.product-description{

	}

	.card-text{
		min-height: 30px;
		max-height:60px;
		overflow-y: hidden;
		width:100%;
		padding-left: 20%;
		padding-right: 20%;
	}

	.card-body{
		padding-top: 15px;
		padding-bottom: 15px;
	}

/*-------------------------*/
/*----  END DASHBOARD -----*/
/*-------------------------*/








/*-------------------------*/
/*--------  REPORT -------*/
/*-------------------------*/

	.report-text-grey {
		color: #666666;
	}
	.report-text-grey {
		color:#2E345C;
	}
	.report-pagination5 {
		margin-top: 30px;
    	margin-bottom: 0px;
	}
	.report-table-responsive {
    	overflow-x: auto;
	}
/*-------------------------*/
/*-----  END REPORT -------*/
/*-------------------------*/






/*--------------------------
---------- Inbox -----------
----------------------------*/
	.inbox-bnt-closd:before {
		font-size: 35px!important;
		font-weight: 300;
	}
	.modal-dialog {
	    width: 65%;
	    max-width: 100%;
	    margin: 1.75rem auto;
	}
	.inbox-border-chat {
		border: 1px solid #cccccc;
		padding: 15px 0px 15px 0px;
		border-radius: 5px;
	}
	.inbox-footer-left-30px {
		padding-left: 30px;
	}
	.inbox-footer-right-35px {
		padding-right: 35px;
	}
	.inbox-bnt-enter {
		width: 100%;
		text-align: center!important;
		border-radius: 0px;
	}
	.fileContainer {
	    overflow: hidden;
	    position: relative;
	}

	.fileContainer [type=file] {
	    cursor: pointer;
	    display: block;
	    filter: alpha(opacity=0);
	    min-width: 100%;
	    opacity: 0;
	    position: absolute;
	    right: 0;
	    text-align: right;
	    top: 0;
	}
	.inbox-bnt-file {
		color: #00A1E9;
	    background-color: white;
	    border: 1px solid;
	    border-color: #00A1E9!important;
	    padding: 5px 15px;
	    margin-top: 15px;
	    font-size: 18px;
	    width: 150px;
	    text-align: center;
	}
	.footer-sp {
	    height: 60px;
	    width: 60px;
	}
	.left-chat-mt {
	    background-color: #DCF3FE;
	    padding-left: 15px;
	    width: 50%;
	    margin-left: 30px;
	    margin-top: 15px;
	}
	.left-chat-bubble {
	    padding-top: 10px;
	    padding-bottom: 25px;
	    padding-right: 30px;
	}
	.right-chat-mt {
	    background-color: #EEE;
	    padding-right: 15px;
	    width: 50%;
	    margin-right: 30px;
	    margin-top: 5px;
	}
	.right-chat-bubble {
	    padding-top: 10px;
	    padding-bottom: 25px;
	    padding-left: 15px;
	}
	.pull-right {
	    float: right!important;
	}
	.pull-left {
	    float: left!important;
	}
	.inbox-icon-size:before {
		color: #999999!important;
		font-size: 40px!important;
	}
	.inbox-quantity-minus {
	    font-size: 12px;
	    color: white;
	    background-color: #e70112;
	    height: 27px;
	    width: 27px;
	    border-radius: 25px;
	    border: none;
	    cursor: pointer;
	}
	.inbox-quantity-minus:hover {
		box-shadow: 1px 1px 1px 1px #797575;
	}
	.vertical-middle {
		vertical-align: middle!important;
	}
	.inbox-border-table {
		border: 1px solid #cccccc;
	}    
/*-------------------------*/
/*-----  END INBOX -------*/
/*-------------------------*/

/*-------------------------
-------- REQUEST -----------
----------------------------*/
	.request-total {
		text-align: right;
		background-color: #eeeeee;
		padding-right: 30px!important;
	}
	.request-bnt-size {
		width: 270px;
	    height: 75px;
	    font-size: 20px;
	}
/*-------------------------
-------- END REQUEST ------
----------------------------*/

/*-------------------------
---------- LOGIN ----------
---------------------------*/
	.login-input-group {
		/*border: none;*/
	    border-right: none!important;
	    padding-top: 5px;
	    background: no-repeat;
	    /* cursor: pointer; */
	    border: 2px solid #CCCCCC;
	    border-radius: 4px 0px 0px 4px !important;
	}
	.login-input-border {
		border-left: none;
		border-radius: 0px 5px 5px 0px!important;
	}
	.login-icon-left:before {
		margin-left: 10px!important;
	}
	.login-forget-pass {
		font-size: 16px;
    	color: 666666;
	}
/*------------------------
-------- END LOGIN -------
--------------------------*/
