/*--------------------------
--------   General ---------
--------------------------*/


/*------   Font -------*/

		@font-face {
		    font-family: 'kanitlight';
		    src: url('../fonts/kanit/kanit-light-webfont.eot');
		    src: url('../fonts/kanit/kanit-light-webfont.eot?#iefix') format('embedded-opentype'),
		         url('../fonts/kanit/kanit-light-webfont.woff2') format('woff2'),
		         url('../fonts/kanit/kanit-light-webfont.woff') format('woff'),
		         url('../fonts/kanit/kanit-light-webfont.ttf') format('truetype');
		    font-weight: normal;
		    font-style: normal;
		}


		@font-face {
		    font-family: 'kanitmedium';
		    src: url('../fonts/kanit/kanit-medium-webfont.eot');
		    src: url('../fonts/kanit/kanit-medium-webfont.eot?#iefix') format('embedded-opentype'),
		         url('../fonts/kanit/kanit-medium-webfont.woff2') format('woff2'),
		         url('../fonts/kanit/kanit-medium-webfont.woff') format('woff'),
		         url('../fonts/kanit/kanit-medium-webfont.ttf') format('truetype');
		    font-weight: normal;
		    font-style: normal;
		}


/*-------------------------*/
/*------  Structure -------*/
/*-------------------------*/

			body{
				font-family: 'kanitlight';
				font-size: 20px;
			}

			.form-control{
					border:2px solid #CCCCCC;
					border-radius: 4px 4px 4px 4px !important;
			}

			.icon-darkblue{
				color:#2E345C;
				font-size: 20px;
			}

			.text-grey{
				color:#999999;
			}
			.text-blue {
				color: #00A1E9;
			}

			.text-darkblue{
				color:#020091;
			}

			.text-black{
				color:black;
			}

			.text-white{
				color:white;
			}

			.text-red {
				color: #fc361d;
			}

			.search-box {
			    position: absolute;
			    top: 0;
			    right: 15px;
			    line-height: 34px;
			    width: 40px;
			    height: 40px;
			    color: #666;
			    background: transparent;
			    border: transparent;
			}

			.width-100 {
				width: 100%;
			}

			.ptt-table {
   				border: 1px solid #cccccc;
			}

			th {
				background-color: #2899d2;
				color: #fff;
				height: 45px;
			}

			td {
				border-top: 1px solid #cccccc!important;
				height: 45px;
			}

		 	.grey-box{
				background-color: #f6fbff;
				padding:10px;
			}

			.blue-box{
				background-color:#dcf2fd;
				padding:10px;
			}

			.navigation{
				font-weight: 700;
			}

			.navigation:hover{
				text-decoration: none;
			}

			.btn-main{
				color:white;
				background-color:#00A1E9;
			}

			.btn-ghost{
				color:#00A1E9;
				background-color:white;
				border-color:#00A1E9;
			}

			.btn-main:hover{
				color:white;
				background-color:#2E345C;
				border-color:#2E345C;
			}

			.btn-ghost:hover{
				color:white;
				background-color:#00A1E9;
				border-color:#00A1E9;
			}

			.plus-btn{
				color:white;
				background-color:#020091;;
				padding:0;
				height:40px;
				width:40px;
				border-radius: 10px;
				border: none;
				cursor: pointer;
			}

			.quantity-plus{
				font-size: 12px;
				color:white;
				background-color:#00A1E9;
				height:27px;
				width:27px;
				border-radius: 25px;
				border: none;
				cursor: pointer;
			}

			.quantity-minus{
				font-size: 12px;
				color:white;
				background-color:#00A1E9;
				height:27px;
				width:27px;
				border-radius: 25px;
				border: none;
				cursor: pointer;
			}

			.bnt-pagination-previous {
				border: 1px solid transparent!important;
	    		margin-right: 15px;
	    		padding-top: 11px;
			}
			.bnt-pagination-next {
				border: 1px solid transparent!important;
	    		margin-left: 15px;
	    		padding-top: 11px;
			}
			.page-link {
			    border-radius: 5px;
			}
			.page-link:hover {
			    background-color: #dcf3fe;
			}


			/*-------------- NAVBAR  ---------------*/

					.logo{
						width:320px;
						 height:auto;
					}

					.navbar{
						border-bottom:3px solid #CCCCCC;
					}

					.secondnav{
						width:100%;
					}

					.btn-search{
						border-radius: 25px;
						background-color:#00A1E9;
						color:white;
					}

					.logged-in-button{
						background-color:transparent;
					}

					.logged-in-button:focus{
						box-shadow: none;
					}

					.dropdown-toggle::after{
							border:none;
					}

					.profile-icon{
						width:30px;
						height:30px;
						border-radius: 25px;
					}

					.top-nav{
						height:50px !important;
					}

					.nav-badge{
						position:relative;
					}

					.badge{
						font-size: 12px;
						color:white;
						border-radius: 25px;
						padding:5px 10px 5px 10px;
						background-color:red;
						position:absolute;
						top:-5px;
						right:-15px;
					}

					.badge-2-digit{
						font-size: 10px;
						color:white;
						border-radius: 25px;
						padding:5px 8px 5px 8px;
						background-color:red;
						position:absolute;
						top:-5px;
						right:-15px;
					}

					.nav-badge:hover{
						text-decoration: none !important;
					}

					.nav-icon:hover{
						color:#00A1E9;
					}

					.nav-link:hover{
						color:#2E345C !important;
					}

					.dropdown-item:focus{
						background-color:#CCCCCC;
					}

					.dropdown-item:active{
						background-color:#CCCCCC;
					}


			/*------------ END NAVBAR  -------------*/





			/*-------------- FOOTER  ---------------*/

				.footer{
					width:100%;
				}

				.top-footer{
					background-color:#2799D2;
				}

				.second-footer{
					height:160px;
					background-color:#2E345C;
				}

				.footer-text-frame{
					height:90px;
					width:320px;
					overflow:hidden;
				}

			/*------------ END FOOTER  -------------*/




/*-------------------------*/
/*------  END Structure -------*/
/*-------------------------*/


/*-------------------------*/
/*------  DASHBOARD -------*/
/*-------------------------*/


	.banner{
		position:relative;
	}

	.banner-title{
		padding-left:40% ;
		padding-right:40%;
		position:absolute;
		width:100%;
		top:30%;
	}

	.banner-text-frame{
		text-align: center;
		height:40px;
		overflow: hidden;
	}

	.banner-title-text{
		font-family:'kanitmedium';
		font-size: 35px;
		font-weight: 700px;
		color:white;
	}

	.banner-title-hr{
		border-top:4px solid #E70112;
		width:50%;
	}

	.banner-title-2{
		padding-left:20% ;
		padding-right:20%;
		position:absolute;
		width:100%;
		top:50%;
	}

	.banner-title-text-2{
		font-size: 27px;
		font-weight: 700px;
		color:white;
	}
	.banner-text-frame-2{
		text-align: center;
		height:40px;
		overflow: hidden;
	}

	.banner-footer{
		color:white;
		background-color:#2E345C;
	}


	.banner-summary{
		background-color:#00aeef;
		width:100%;
	}

	.summary-col{
		width:20%;
	}

	.summary-border{
		border-left:2px solid #FFF;
	}

	.summary-frame{
		padding-top:2%;
		padding-bottom:2%;
	}

	.summary-number{
		margin-top:5px;
		margin-left:auto;
		margin-right: auto;
		width:60px;
		height:60px;
		border-radius: 30px;
		background-color: #5fc638;
		font-size: 35px;
		color:white;
		font-family: 'kanitmedium';
		font-weight: 900;
	}

	.green{
		background-color: #5fc638;
	}

	.red{
		background-color: #e34132;
	}

	.orange{
		background-color: #e59a39;
	}

	.grey{
		background-color: #c2d4db;
	}

	.blue{
		background-color: #0079c2;
	}

	.dashboard-container{
		margin-top: 20px;
		margin-bottom: 30px;
		padding-left: 100px;
		padding-right: 100px;
		width:100% !important;
	}

	.menu-frame{
		background-color:#efefef;
		padding:40px 10px 50px 10px;
	}

	.dashboard-icon{
		height:140px;
		width:140px;
		transition: all 1s;
	}

	.calendar{
		height:100%;
		margin-top:15px;
		background-color:whitesmoke;
	}

	.icon-hover:hover .dashboard-icon{
		transform: scale(1.1);
	}

	.icon-hover:hover{
		color:#00aff0 ;
		text-decoration: none;
	}

	.side-nav{
		text-align: center;
		padding:24px 8px 24px 16px;
	}

	.side-nav-menu{
		padding-top: 7px;
		padding-bottom: 7px;
		width:100%;
		border:2px solid  #CCC;
		border-bottom: none;
	}

	.side-nav-menu:hover{
		color:#52adda;
	}

	.side-nav-menu:last-child{
		padding-top: 5px;
		padding-bottom: 5px;
		width:100%;
		border:2px solid  #CCC;
	}

	.side-nav .all{
		background-color:#dcf2fd;
		text-decoration: none;
	}

	.side-nav .all:hover{
		background-color:#CCC;
		text-decoration: none;
		color:white;
	}

	.side-nav .all:hover .text-blue{
		text-decoration: none;
		color:white;
	}



/*-------------------------*/
/*----  END DASHBOARD -----*/
/*-------------------------*/




/*-------------------------*/
/*--------  REPORT -------*/
/*-------------------------*/

	.report-text-grey {
		color: #666666;
	}
	.report-text-grey {
		color:#2E345C;
	}

/*-------------------------*/
/*-----  END REPORT -------*/
/*-------------------------*/
